{% extends 'base.html' %}

{% block h1_header %}
    Acerca de mí
{% endblock h1_header %}

{% block main %}
    <div class="container">
        <h2>Información Personal</h2>
        <p><strong>Nombre:</strong> {{ profile.nombre }}</p>
        <p><strong>Apellido:</strong> {{ profile.apellido }}</p>
        <p><strong>Descripción:</strong> {{ profile.descripcion }}</p>
        <p><strong>Nacionalidad:</strong> {{ profile.nacionalidad }}</p>
        {% if profile.foto_perfil %}
    <p>URL de la imagen de perfil: {{ profile.foto_perfil.url }}</p>
    <img src="{{ profile.foto_perfil.url }}" alt="Foto de perfil">
{% endif %}
    </div>
{% endblock main %}