{% extends 'base.html' %}

{% block h1_header %}
    Creacion de Blog
{% endblock h1_header %}

{% block main %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crear Blog</title>
    </head>
    <body>
        <h1>Crear Nuevo Blog</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Crear Blog</button>
        </form>
    </body>
    </html>
{% endblock main %}